{% extends "admin/change_list.html" %}
{% load i18n admin_static %}

{% block object-tools-items %}
{{ block.super }}
<li>
    <a href="#" class="btn btn-high btn-success">Import</a>
</li>
{% endblock %}
