{% extends 'admin/base.html' %}

{% load static %}

{% block content %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>
    <label><b> PDF File </b></label><br>
    <input type="file" name="pdf_file">
    </p>
    <p>
    <label><b> XLS File </b></label><br>
    <input type="file" name="xls_file">
    </p>
    <br>
    <button type="submit">Upload</button>
  </form>

  {% if pdf_uploaded_file_url and xls_uploaded_file_url %}
    <p>PDF File uploaded at: <a href="{{ pdf_uploaded_file_url }}">{{ pdf_uploaded_file_url }}</a></p>
    <p>XLS File uploaded at: <a href="{{ xls_uploaded_file_url }}">{{ xls_uploaded_file_url }}</a></p>
  {% endif %}

{% endblock %}
